# OS
.DS_Store
*.swp
*.swo
.vscode
.idea
.env*

# Build
vendor
.vendor-new
observe
*balances.json

# IDE
.idea/
*.iml

alice.txt
jack.txt
bin/
thord
*.exe

cover.txt
coverage.txt
.testCoverage.txt
c.out
*.leveldb/
.envrc
log
blockscannertest/
statechaintest/
*.log
*.ldb
*/observer_db
*/signer_db
*.out
