# OS
.DS_Store
*.swp
*.swo
.vscode
.idea

# Build
vendor
.vendor-new
observe

# IDE
.idea/
*.iml
.testCoverage.txt
config.json
blockscannertest/
statechaintest/
*.log
*.ldb
*/observer_db
*/signer_db
*.out
build.sh
